body {
    background-color: black;
    background: black url('bg.png');
    font-family: Helvetica;
    padding: 0px;
}

#container {
    width: 600px;
    height: 600px;
    overflow: hidden;
}

.system {
    height: 100px;
    width: 100px;
    color: red;
    padding: 20px;
    position: absolute;
    background: transparent url('system.png') no-repeat;
}

.system img {
    width: 20px;
}

#ship {
    width: 40px;
    height: 20px;
    position: absolute;
    -webkit-transition: left 0.1s;
    -webkit-transition: top 0.1s;
}

#ship img {
    width: 40px;
}

#planets {
    color: white;
}